__pycache__/
*.py[cod]
*$py.class
venv/
.env/
env/
.venv/
.Python
.vscode/
.idea/
.ipynb_checkpoints/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
.coverage
.tox/
.nox/
.cache/
pytest_cache/
coverage.xml
Pipfile.lock
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
pyrightconfig.json
*.env
*.local
output/
tmp/
temp/
